fastapi
uvicorn
python-multipart
pydantic_settings
sqlalchemy
psycopg2-binary
python-dotenv
pymupdf
pgvector
pandas
joblib
scikit-learn==1.8.0
sentence-transformers
paddlepaddle==3.3.0
paddleocr==3.7.0
